{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="header">{{ 'security.reset.error'|trans }}</div>
    <div class="body bg-gray">
        {% trans_default_domain 'FOSUserBundle' %}
        <p>{{ 'resetting.password_already_requested'|trans }}</p>
    </div>
    <div class="footer">
        {% trans_default_domain 'messages' %}
        <a href="/login">{{ 'security.login.login'|trans }}</a>
    </div>
{% endblock %}
